@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;600&display=swap');


:root {
    --azul: #739abf;
    --rosa: #FFC8DD;
}

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: justify;
    text-justify: inter-word;
    box-sizing: border-box;
    background-color: #5B7A97;
    color: #F6F6F6;

}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.icon {
    background: url('html-logo-main/Design.png');
    /*  height: 16px;
    width: 16px;
    display: block; */
    /* Other styles here */
}

.menu {
    display: flex;
    gap: 80px;
}

.menu__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--rosa);
    text-decoration: none;

}

.apresentacao {
    padding: 2% 8% 8% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .enfeite {
    height: 280px;
    width: 150px;
    align-self: flex-start;
    position: relative; */


.apresentacao_conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


h1 {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;

}

p {
    font-size: 1.375rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


.imagem {
    margin: 0;
    padding: 0;
    /* width: 423.26px;
    height: 494.14px; */
    align-self: flex-start;
}

.rodape {
    color: wheat;
    padding: 24px;
    background-color: #739abf;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.destaque {
    color: var(--rosa);
}



@media (max-width: 1000px){

    .cabecalho{
        padding: 5%;
    }

    .menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
       
    }

    .apresentacao_conteudo{
        width:auto;
    }

    .imagem{
        width: 60%;
        align-self: center;
    }
.botoes{
    flex-direction: row;
}
}